body {
    font-family: Arial, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 196px;
    align-items: center;
}

.upload-form-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-form label {
    margin: 0 auto;
}

.upload-form #image-file-label {
    cursor: pointer;
    color: #dfdfdf;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #8a2bbe;
    padding: 12px 32px;
    border-radius: 2px;
    filter: drop-shadow(0 0 2px #000);
}

.upload-form #image-file-label:hover {
    background-color: #62197d;
    filter: drop-shadow(0 0 4px #000);
}

.upload-form #submit-form {
    padding: 3px 12px;
    margin: 6px 0;
}

.upload-form #private-key {
    margin: 12px 0 6px 0;
    text-align: center;
    font-size: 18px;
    padding: 6px 3px;
    border: none;
    border-bottom: solid darkgray 2px;
    outline: none;
}

.upload-form #private-key:focus {
    border-bottom: solid black 2px;
}

.gallery-nav {
    margin: 0 auto;
}

.gallery-div .image-containers {
    display: flex;
    flex: 1 0 21%;
    width: 200px;
    height: 200px;
    margin: 2px 2px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: black 1px solid;

}
.gallery-div .thumbnails {
}
@media only screen and (max-width: 800px) {
    .gallery-div .thumbnails {
        flex-direction: column;
    }
}
.gallery-div .video {
    border: blue 2px solid;
}

.gallery-div .gif {
    border: red 2px solid;
}

.gallery-div .pagi-buttons {
    background: #acacac;
    margin: 0 2px;
    padding: 4px;
    color:black;
    text-decoration: none;
    border-radius: 2px;
}

.gallery-div .pagi-buttons:hover {
    background: #8e8e8e;
}

.gallery-div .nav-buttons {
    display: block;
}

.border-info ul {
    list-style-type: none;
    padding: 0;
}

.border-info .border-info-li {
    padding-left: 16px;
}